/* Colors */
$blackFont: #23262a;
$greenButton: #8baa36;
$whiteColor: #ffffff;
$titleColor: #001833;
$cardBg: rgb(252, 229, 204);
$mainShadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$footerBg: rgb(209, 200, 188);
/* Sizes */
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

/* Texts */
$mainFont: 'Yanone Kaffeesatz', sans-serif;
/* Animations */
$animation-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);